/* Share Styles */
QCheckBox, QLabel, QRadioButton{
    color: #D3DAE3;
}

QDialog, QDockWidget, QMainWindow {
    background-color: #444a58;
    color: #D3DAE3;
    border: 1px solid #3d424e;
}

QComboBox, QLineEdit, QSpinBox, QTextEdit {
    background-color: #495364;
    color: #D3DAE3;
    padding: 3px 3px;
    border: 0.5px solid #495364;
    border-radius:3px
}

QListWidget, QTableWidget, QTreeWidget, QHeaderView {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
    border: 0.5px solid #495364;
    border-radius:3px
}

/* Unique Styles */
QCheckBox::indicator:checked {
    image: url("assets/dark-assets/checkbox/checkbox-checked-dark.png");
}

/* QCheckBox::indicator:checked:hover {
    image: url("assets/dark-assets/checkbox/checkbox-checked-focused.png");
} */

QCheckBox::indicator:unchecked {
    image: url("assets/dark-assets/checkbox/checkbox-unchecked-dark.png");
}

/* QComboBox {
    background-color: #444a58;
    color: #D3DAE3;
} */

QComboBox::drop-down {
    border: 1px solid #495364;
    /* border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
}

QComboBox::down-arrow {
    image: url("assets/common-assets/misc/ws-switch-arrow-down.png");
}

/* QComboBox::item:alternate {
    background-color: #444a58;
} */

/* QComboBox::item:selected {
    background-color: #5294e2;
} */

/* QDialog {
    background-color: #444a58;
    color: #D3DAE3;
} */

/* QDockWidget {
    background-color: #444a58;
    color: #D3DAE3;  
} */

/* QFrame {
    background-color: #3d424e;
    border: none;
} */

QGroupBox::indicator:checked {
    image: url("assets/dark-assets/checkbox/checkbox-checked-dark.png");
}

QGroupBox::indicator:unchecked {
    image: url("assets/dark-assets/checkbox/checkbox-unchecked-dark.png");
}

QHeaderView::section {
    background-color: #3d424e;
    border: 0.5px solid #3d424e;
    padding: 3px 3px;
}

/* QLabel {
    color: #D3DAE3;
} */

/* QLineEdit {
    background-color: #495364;
    color: #D3DAE3;  
} */

/* QLineEdit:hover {
    background-color: #5294e2;
    color: #D3DAE3;  
} */

/* QListWidget {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
} */

/* QMainWindow {
    background-color: #444a58;
    color: #D3DAE3;
} */

QPushButton {
    font-family: Futura Bk bt, sans, Sans-Serif;
    font-size: 9pt;
    background-color: rgba(102, 109, 132, 0.35);
    color: #D3DAE3;
    padding: 5px 32px;
    text-shadow: 0 1px rgba(64, 69, 82, 0);
    border: 0.5px solid rgba(102, 109, 132, 0.35);
    border-radius: 3px;
    box-shadow: inset 0 2px 4px rgba(68, 74, 88, 0.05);
}

QPushButton:hover {
    background-color: #495364;
}

/* QRadioButton {
    color: #D3DAE3;
} */

QRadioButton::indicator:checked {
    image: url("assets/dark-assets/radio/radio-checked-dark.png");
}

QRadioButton::indicator:unchecked {
    image: url("assets/dark-assets/radio/radio-unchecked-dark.png");
}

/* QSpinBox {
    background-color: #495364;
    color: #D3DAE3;
} */

QSpinBox::up-button {
    image: url("assets/common-assets/misc/ws-switch-arrow-up.png");
}

QSpinBox::down-button {
    image: url("assets/common-assets/misc/ws-switch-arrow-down.png");
}

/* QTableWidget {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
} */

/* QTextEdit {
    background-color: #495364;
    color: #D3DAE3;
} */

/* QTreeWidget {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
} */

/* QTreeWidget::item:selected {
    selection-color: #5294e2;
} */