QCheckBox {
    color: #D3DAE3;
}

QCheckBox::indicator:checked {
    image: url("assets/dark-assets/checkbox/checkbox-checked.png");
}

/* QCheckBox::indicator:checked:hover {
    image: url("assets/dark-assets/checkbox/checkbox-checked-focused.png");
} */

QCheckBox::indicator:unchecked {
    image: url("assets/dark-assets/checkbox/checkbox-unchecked.png");
}

QComboBox {
    background-color: #444a58;
    color: #D3DAE3;
}

QComboBox::item:alternate {
    background-color: #444a58;
}

QComboBox::item:selected {
    background-color: #5294e2;
}

QDialog {
    background-color: #444a58;
    color: #D3DAE3;
}

QDockWidget {
    background-color: #444a58;
    color: #D3DAE3;  
}

QLabel {
    color: #D3DAE3;
}

QLineEdit {
    background-color: #495364;
    color: #D3DAE3;  
}

QLineEdit:hover {
    background-color: #5294e2;
    color: #D3DAE3;  
}

QListWidget {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
}

QMainWindow {
    background-color: #444a58;
    color: #D3DAE3;
}


QPushButton {
    font-family: Futura Bk bt, sans, Sans-Serif;
    font-size: 9pt;
    background-color: rgba(102, 109, 132, 0.35);
    color: #D3DAE3;
    padding: 5px 32px;
    text-shadow: 0 1px rgba(64, 69, 82, 0);
    border: 1px solid #2b2e39;
    box-shadow: inset 0 2px 4px rgba(68, 74, 88, 0.05);
}

QRadioButton {
    color: #D3DAE3;
}

QSpinBox {
    background-color: #495364;
    color: #D3DAE3;
}

QTableWidget {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
}

QTextEdit {
    background-color: #495364;
    color: #D3DAE3;
}

QTreeWidget {
    background-color: #495364;
    color: #D3DAE3;
    alternate-background-color: #444a58;
}

QTreeWidget::item:selected {
    selection-color: #5294e2;
}